.parentDiv{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
}
.childDiv{
    background-color: white;
    color: black;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.customiseBtn{
    padding: 5px;
    border-radius: 4px;
    margin-top: 5px;
    width: 35%;
    background-color: indianred;
    color: white;
}   
.customPara {
    width: 200px;
    font-size: 16px;
    margin: 7px;
    border: 1px solid grey;

}
.customiseTd{
   width: 200px;
   font-size: 16px;
   font-weight: bold;
   margin: 0 auto;
} 
.customiseTdData{
   width: 200px;
   font-size: 16px;

}